/problemaDaMochilaAG/nbproject/private/
/problemaDaMochilaAG/build/
/problemaDaMochilaAG/problemaDaMochilaAG/nbproject/private/
/trabalhoPiva/nbproject/private/
/trabalhoPiva/build/
/problemaDaMochilaAG/dist/